html{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 10%;
    width: 100%;
    border-bottom: 0.2rem solid #1f5a66;
    background-color: rgb(240, 240, 240);
}

h1{
    font-size: 1.5rem;
    font-family: 'Kurale', serif;
}

.menu{
    position: absolute;
    top: 1.2%;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.checkbox{
    align-self: flex-start;
    font-family: 'Kurale', serif;
    font-size: 1.5rem;
}

.informacoes{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-family: 'Kurale', serif;
    font-size: 1.5rem;
    align-self: flex-start;
}

.informacoes2{
    margin: 0.1rem;
    border: 0.15rem solid #1f5a66;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 70%;
}

.proxima_pagina{
    font-family: 'Kurale', serif;
    font-size: 1rem;
    border: 0.05rem solid black;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: #1f5a66;
}

.texto{
    text-decoration: none;
    color:white;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 10%;
    width: 100%;
    border-top: 0.2rem solid  #1f5a66;
    background-color: rgb(240, 240, 240);
}

.etapas{
    width: 80%;
    height: 30%;
}

.voltar{
    width: auto;
    height: 2rem;
}
